body {
    font-family: Tahoma;
    background: skyblue;
    line-height: 1;
    
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: navy;
    border-radius: 0;
    border-bottom: 10px solid black;
   
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(103, 103, 252);
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  .display-3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .col-lg-2, .col-lg-8 {
    border: solid navy;
    padding: 10px;
    border-radius: 5px;
    background: rgb(226, 225, 225);

  } 
  .col-title{
    text-align: center;
    font-weight: bold;
  }
  #heading-1, #heading-2, #heading-3{
    background: blueviolet;
    color: white;
    
  }
  .col-lg-2{
    text-align: center;
  }
  .end_note{
    background: navy;
    display: inline-block;
            width: 100%;
    
  }
  .foot_note{
    padding: 20px;
    text-align: center;
    color:honeydew;
  }
    